* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh !important;
    background-color: #030117 !important;
}

input {
    background-color: #030117 !important;
    color: white !important;
}

#error { 
    font-size: 0.8rem;
    margin: -2px 0;
}